<div class="home-page" ng-controller="DirectiveFormCtrl as ctrl">
  <div class="full-banner"> banner aqui </div>

  <div class="product-col pull-left">
    a
  </div>
  <div class="product-col pull-left">
    a
  </div>
  <div class="product-col pull-left">
    a
  </div>
  <div class="product-col pull-left">
    a
  </div>
  <div class="product-col pull-left">
    a
  </div>
</div>
<style>

.product-col-3{
  width: 33%;
}
.show-banner-true{
  display: block;
}
.show-banner-false{
  display: none;
}
</style>
