<div class="product-page">
  <!-- <div class="product-bg">
    <h4 ng-bind="productCtrl.product.storeCategoryTreeList[0].name"></h4>
    <ec-catlink></ec-catlink>
  </div> -->
<div class="container">
  <div class="row">
    <div class="product">
      <div class="col-md-3 col-sm-4 compre-junto">
        <ec-comprejunto class="compre-junto">Compre também</ec-comprejunto>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-5">
        <div class="main-image">
          <ec-sticker></ec-sticker>
          <ec-imgprodutozoom class="product-img" responsive="true"></ec-imgprodutozoom>
        </div>

        <div class="slick-slider">
          <ec-owlvitrine navigation="true" owlPagination="false" itemsCustom ="[[0, 2], [320, 3], [400, 3], [991, 4]]">
            <owl-item  class="slider-thumbs slick-slide" ng-repeat="thumbs in productCtrl.product.productImages" >
              <a href="{{thumbs.url}}"  ng-click="productCtrl.switchImg(thumbs)" ng-if="thumbs.url">
                <img alt="{{thumbs.metaAlt}}" ng-src="{{thumbs.url}}_150?.jpg">
              </a>
            </owl-item>
          </ec-owlvitrine>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-sm-12">

        <div class="product-information clearfix">
          <h1>
            <ec-prodtitle></ec-prodtitle>
          </h1>
          <div class="small-description">
            <p>
              <ec-smalldescription></ec-smalldescription>
            </p>
            <p>
              <ec-information class="information"></ec-information>
            </p>
          </div>

          <ec-productprices billetDiscount="true" class="product-prices" product="productCtrl.product" showinstallment="true" showpricefrom="true" textpricefrom="" textpriceto=""></ec-productprices>
          <div class="parcelas dropdown" ng-if="productCtrl.product.installments.length > 0">

            <button class="btn btn-xs dropdown-toggle" aria-expanded="true" data-delay="1000" data-toggle="dropdown" type="button">
              Veja suas parcelas
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="dropdown-menu hold-on-click dropdown-checkboxes" role="menu">
              <ec-installments></ec-installments>

            </div>
          </div>
          <div class="clearfix"></div>
          <div class="product-variation">
            <ec-sku></ec-sku>
          </div>
            <div class="product-frete">
                <ec-getfrete >OK</ec-getfrete>
            </div>

            <div class="product-quantidade" style="width:100%;">
              <ec-addcartmodal>COMPRAR</ec-addcartmodal>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="produto-descricao">
    <div class="container">
      <div>
        <h2>
          Descrição
        </h2>
        <div class="description">
          <ec-description></ec-description>
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-show="model6.length > 0">
    <div class="col-xs-12">
      <h2>Produtos Relacionados
      </h2>
      <ec-owlvitrine autoPlay="true" navigation="true" owlPagination="true" itemsCustom="[[300, 1], [560, 2], [768, 2], [990, 3], [1200, 4]]">
          <owl-item ng-repeat="product in model6">
            <div class="product-item">
            <div class="pi-img-wrapper">
              <ec-sticker></ec-sticker>
              <a href="produto/{{product.name | noaccentuation}}/{{product.id}}">
                <ec-imgproduto></ec-imgproduto>
              </a>
            </div>
            <div class="product-description">
              <h3>
                <a href="produto/{{product.name | noaccentuation}}/{{product.id}}" ng-bind="product.name"></a>
              </h3>
            </div>
            <ec-productprices class="product-prices" product="product" showpricefrom="true" showinstallment="true"></ec-productprices>

            <div class="addcart">
              <ec-fastaddcart product="product">
                ADICIONAR AO CARRINHO
              </ec-fastaddcart>
            </div>
          </div>
          </owl-item>
      </ec-owlvitrine>
    </div>
  </div>
